@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.banner {
    background-color: var(--primary);
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 12px;
    font-weight: 300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    --primary: #443cc6;
    --bg-priamry: #F9FAFB;
    --bg-secondary: #f6f6f6;
    --gray: #f3f7ff;
    --text-gray: #6c6c6c;
    
}

.container {
    margin: 0 auto;
}

.logo img {
    display: block;
    width: 200px;
    height: auto;

}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

nav {
    background-color: var(--bg-secondary);
    width: 100%;
    position: relative;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin: 0 auto;
    width: 95%;
    padding: 16px 32px;
    overflow-x: auto;
    scrollbar-width: none;
}

nav ul::-webkit-scrollbar {
    display: none;
}


nav ul li {
    position: relative;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    color: #333333;
    white-space: nowrap;
    flex-shrink: 0;
}
nav ul li a {
    text-decoration: none;
    color: inherit;
}

nav ul li::after {
    display: block;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}
header {
    padding: 16px 32px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-priamry);

}

header button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 32px;
    cursor: pointer;
    font-size: 16px;
}

.search-bar {
    width: 70%;
}

nav ul li .chevron-down {
    margin-left: 12px;
    display: flex;
    align-items: center;
}

nav ul li a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero-section {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    padding: 0 64px;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
    color: #111827;
    width: 80%;
}

.hero-section p {
    font-size: 18px;
    color: var(--text-gray);
    width: 65%;
}
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image img {
    width: 100%;
    max-height: 700px;
    object-fit: cover;
}


@media(max-width: 768px) {
    .hero-section {
        grid-template-columns: 1fr !important;
        padding-top: 32px;
        text-align: center;
    }
    .hero-content {
        padding: 0 16px;
        align-items: center;
        margin-bottom: 32px;
    }
    .hero-section h1 {
        width: 90%;
        font-size: 32px !important;
    }
    .hero-section p {
        letter-spacing: 0.4px;
        width: 100%;
    }
    .search-bar {
        display: none;
    }
    .hero-image {
        display: none !important;
    }

    nav ul {
        justify-content: flex-start;
        overflow-x: auto;
        padding: 16px;
        width: 100%;
        gap: 32px;
    }
    
    nav::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 100%;
        background: linear-gradient(to left, var(--bg-secondary), transparent);
    }
    
}

.search-input {
    display: flex;
    width: 40%;
    border: 1px solid  #c9d4fc;
    border-radius: 32px;
    padding: 4px 8px;
    background-color: white;
    align-items: center;
    gap: 8px;
}

.search-input:has(input:focus) {
    border: 1px solid var(--primary);
}

.search-bar input {
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 32px;
    width: 100%;
}

.btn {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 32px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #362eb3;
}



.search-bar button {
    background-color: var(--primary);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
}

html, body {
    min-height: 100%;
    background-color: var(--bg-priamry);
}

.text-primary {
    color: var(--primary);
}



.learners {
    display: flex;
    align-items: center;
}

.learners img:first-child {
    margin-left: 0;
}

.learners img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    margin-left: -20px;

}

.learners-count {
    border-radius: 50%;
    color: var(--primary);
    font-weight: 600;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -20px;
    background-color: #e1e9fe;
    border: 1.75px solid var(--primary);
}

.learners-text {
    font-size: 14px;
    color: var(--text-gray);
    margin-left: 16px;
}






#business  {
    background-color: var(--gray);
    margin: 0 auto;
    padding: 12px 32px;
    position: relative;
}

#business .section-title {
    color: var(--text-gray);
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 48px;
}



.partners-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.partners-logos::-webkit-scrollbar {
    display: none;
}

.partners-logos img {
    flex-shrink: 0;
}

@media(max-width: 768px) {
    .partners-logos {
        justify-content: flex-start;
        padding: 0 16px;
    }
    #business::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 60px;
        height: 100%;
        background: linear-gradient(to right, var(--gray), transparent);
        pointer-events: none;
    }
    
    
}